.header-fixed.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 97;
    height: 80px;
    transition: all 0.3s ease;
}

.tem-banner {
    bottom: 0;
    height: 79px;
    width: 75px;
    z-index: 14;
    clip-path: none;
}
